---
import Nav from "@components/Nav.astro";
---

<style>
  .highlight {
    color: var(--color-highlight-secondary);
  }
</style>

<Nav current="about" />
<section id="about">
  <p>
    I'm playing with Astro. That makes me <span class="highlight">cool</span>
  </p>
</section>
