---
import Nav from "@components/Nav.astro";
---

<style>
  .highlight {
    color: green;
  }
</style>

<Nav current="about" />
<section id="about">
  <p>I'm playing with Astro.</p>
  <p>That makes me <span class="highlight">cool</span></p>
</section>
