---
import Nav from "@components/Nav.astro";
---

<style>
  div {
  }
  .highlight {
    color: var(--color-primary);
  }
</style>

<Nav current="home" />
<section id="home">
  <p>
    Hello, I'm <span class="highlight">Matt Thorning</span>.
  </p>
  <p>I'm a software engineer.</p>
</section>
