---
type Page = (typeof pages)[number];

declare global {
  interface GlobalEventHandlersEventMap {
    "nav:set-current-page": CustomEvent<{ page: Page }>;
  }
}

const pages = ["home", "about", "contact"] as const;
---

<style>
  nav {
    position: sticky;
    top: 0;
    background: var(--background-primary);
    padding: 1rem;
    border-top: 1px solid var(--color-highlight-secondary);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 1rem;
  }
  a {
    color: var(--color-primary);
    text-decoration: none;
    text-transform: capitalize;
  }

  .current a {
    color: var(--color-highlight-primary);
  }
</style>

<script>
  class Nav extends HTMLElement {
    constructor() {
      super();
      window.addEventListener("nav:set-current-page", (e) => {
        this.querySelector(".current")?.classList.remove("current");
        this.querySelector(`[data-page="${e.detail.page}"]`)?.classList.add(
          "current",
        );
      });
    }
  }

  customElements.define("profile-nav", Nav, { extends: "nav" });
</script>

<nav is="profile-nav">
  <ul>
    {
      pages.map((page) => (
        <li data-page={page}>
          <a href={`#${page}`}>{page}</a>
        </li>
      ))
    }
  </ul>
</nav>
