---
import Nav from '@components/Nav.astro'
---

<style>
  .highlight {
    color: var(--color-highlight-secondary);
  }
  .spacer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<section id="contact">
  <div class="spacer">
    <p>
      Contact me at my house
    </p>
  </div>
</section>
