---
import Section from '@components/Section.astro'
---

<style>
  .highlight {
    color: var(--color-highlight-secondary);
  }
  .centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<Section page="contact">
  <div class="centered">
    <p>
      Contact me at my house
    </p>
  </div>
</Section>
