---
import Rain from "@components/Rain.astro";
import Section from "@components/Section.astro";
---

<style>
  a {
    font-size: 1.5rem;
    color: var(--color-primary);
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 0;
    white-space: nowrap;
    width: 220px;
    text-decoration: none;
    text-align: center;
    background: rgba(155, 155, 155, 0.1);
    border-radius: 4px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(231, 231, 231, 0.27);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: border 0.3s ease-in-out;
  }
  a:hover {
    border: 2px solid var(--color-highlight-secondary);
  }
  a:hover .arrow {
    transform: rotate(90deg);
  }
  a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  a:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  .highlight {
    color: var(--color-highlight-primary);
  }
  .arrow {
    color: var(--color-highlight-secondary);
    font-size: 2rem;
    align-self: flex-end;
    transition: transform 0.2s ease-in-out;
  }
</style>

<script>
  const anchor = document.querySelector("#wet-object");

  anchor &&
    anchor.addEventListener("click", (e) => {
      e.preventDefault();
      window.dispatchEvent(new Event("rain:stop"));

      setTimeout(() => {
        window.location.hash = "#about";

        // need to do this as well in case the hash is already #about
        document
          .querySelector("#about")
          ?.scrollIntoView({ behavior: "smooth" });
      }, 500);
    });
</script>

<Section page="home">
  <Rain />
  <a id="wet-object" href="#about">
    <span class="link-text">
      Hi, I'm <span class="highlight">Matt</span>
    </span>
    <span class="arrow">&rarr;</span>
  </a>
</Section>
