---
import Canvas from "@components/Canvas.astro";
import Section from "@components/Section.astro";
---

<style>
  #toggle-rain {
    position: absolute;
    top: 16px;
    right: 16px;
 }

  a {
    font-size: 1.5rem;
    color: var(--color-primary);
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    margin: 0;
    white-space: nowrap;
    width: 220px;
    text-decoration: none;
    text-align: center;
    background: rgba(155, 155, 155, 0.1);
    border-radius: 4px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(231, 231, 231, 0.27);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a:hover {
    border: 2px solid var(--color-highlight-secondary);
  }

  .highlight {
    color: var(--color-highlight-primary);
  }

  .arrow {
    color: var(--color-highlight-secondary);
    font-size: 2rem;
    align-self: flex-end;
    transition: transform 0.2s ease-in-out;
  }

  a:hover .arrow {
    transform: rotate(90deg);
  }
</style>

<Section page="home">
  <Canvas />
  <button id="toggle-rain">Stop rain</button>
  <a id="wet-object" href="#about">
    <span class="link-text">
      Hi, I'm <span class="highlight">Matt</span>
    </span>
    <span class="arrow">&rarr;</span>
  </a>
</Section>
